
@import "../bower_components/normalize-css/normalize.css";
@import "../bower_components/typeplate-starter-kit/css/typeplate.css";

/**
 * BOX-SIZING
 */

*,
*:before,
*:after {
    box-sizing: border-box;
    transition-delay: 0s;
    transition-duration: 0.25s;
    transition-property: opacity, transform, color, background-color, border-color, z-index, background-image;
    transition-timing-function: ease;
}

/**
 * GRIDS
 */

.grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    > * {
        flex: 1;
        flex-basis: 100%;
    }
}

@define-mixin grid_r $col, $width {
    @media only screen and (min-width: $(width)px) {
        .grid-$(col)-$(width) {
            & > * {
                flex-basis: calc(100 / $col)%;
            }
            @mixin-content;
        }
    }
}

@define-mixin grid $col {
    .grid-$(col) {
        & > * {
            flex-basis: calc(100 / $col)%;
        }
        @mixin-content;
    }
}

@mixin grid 2 {}
@mixin grid 4 {}
@mixin grid 6 {}

@mixin grid_r 2, 400 {}
@mixin grid_r 2, 800 {}

@mixin grid_r 4, 400 {}
@mixin grid_r 4, 800 {}

/**
 * GENERAL
 */

img {
    max-width: 100%;
}
/**
 * YOUR CODE HERE
 */


 #container {
    display: flex;
    margin: auto;
    max-width: 880px;
    margin-top: 28px;

}

#topBox {
    max-width: 100%;
    background-color: #f5f5f5;
    height:  50px;
    
}

input {
    height: 3%;
    font-size: 12px;
    font-family: Palatino;
    margin-left: 70px;
    width: 25%;
    left: 22%;
    position: absolute;
    top: 1%;
}

span {
    color: #4078c0;
    font-size: 25px;
    margin: 30%;
}

#leftColumn {
    flex: 1;

}

#followers, #following, #starred {
    display: inline-block;
    margin-top: 2%;
    font-family: Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif;
    
}

#login {
    font-size: 25px;
    color: gray;
    margin: 2px;
}

#location, #email, #blog, #html_url {
    margin-bottom: 30px;
}

#rightColumn {
    flex: 3;
    font-family: Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif;
}

#profilePic {
    width: 230px;
    height: 230px;
    border-radius: 5%;
}

.repoName {
    list-style-type: none;
    font-size: 25px;
    color: #4078c0;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif

}

.createdOn {
    display: inline-block;
}

#gitImage {
    position: absolute;
    left: 23%;
    top: 1%;
}

#name {
    margin-bottom: 0px;
    font-size: 30px;
}

@media all and (max-width: 800px) {

    #container {
        display: block;
    }
} 

